body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
}

.cat {
    max-width: 900px;
}

#my-image {
    max-width: 300px;
    border-radius: 9999px;
}